// ADAPTATION BREAKPOINTS AND IMPLEMENT MIXIN


$screen-xl: 1399.98px; 	 // Large desktops
$screen-lg: 1399.98px;	 // Laptop and small desktops
$screen-md: 1024px; 		 // Tablets and small Laptop
$screen-sm: 768px; 		   // Tablets and small Laptop
$screen-xs: 576px; 		   // Tablets and small Laptop


//  Large desktops
@mixin media-min-xl {
	@media screen and ( min-width: #{$min-screen-xl} ) {
		@content;
	}
}

// Laptop and small desktops
@mixin media-max-lg {
	@media screen and ( max-width: #{$screen-lg} ) {
		@content;
	}
}
@mixin media-min-lg {
	@media screen and (min-width:  #{$screen-lg} ) {
		@content;
	}
}

// Tablets and small Laptop
@mixin media-max-md {
	@media screen and (max-width: #{$screen-md} ) {
		@content;
	}
}
@mixin media-min-md {
	@media screen and (min-width: #{$screen-md} ) {
		@content;
	}
}

// Tablets and small Laptop
@mixin media-max-sm {
	@media screen and ( max-width: #{$screen-sm} ) {
		@content;
	}
}
@mixin media-min-sm {
	@media screen and ( min-width: #{$screen-sm} ) {
		@content;
	}
}

// Tablets and small Laptop
@mixin media-max-xs {
	@media screen and ( max-width: #{$screen-xs} ) {
		@content;
	}
}
@mixin media-min-xs {
	@media screen and ( min-width: #{$screen-xs} ) {
		@content;
	}
}
